{% extends "layout.html" %}
{% block titulo %}
Editar Factura
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Editar Factura</h3>
                <form action="{{url_for('update_invoice')}}" method="post">
                    {# Enviar el id en un campo oculto #}
                    <input type="hidden" name="id" value="{{invoice[0]}}">
                    <label for="name">Numero:</label>
                    <input value="{{invoice[1]}}" required type="number" class="form-control" placeholder="Numero" name="number"
                        id="number">
                    <label for="email">Fecha:</label>
                    <input value="{{invoice[2]}}" required type="date" class="form-control" placeholder="Fecha"
                        name="date" id="date">    
                    <label for="telefono">Precio:</label>
                    <input value="{{invoice[3]}}" required type="number" class="form-control" placeholder="Precio"
                        name="price" id="price">
                    <label for="telefono">Balance:</label>
                    <input value="{{invoice[4]}}" required type="number" class="form-control" placeholder="Balance"
                        name="balance" id="balance">                 
                    <br>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <a href="{{url_for('invoices')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}