{% extends "layout.html" %}
{% block titulo %}
Agregar Cliente
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                <h3 class="is-size-3">Agregar Cliente</h3>
                <form action="{{url_for('insert_customer')}}" method="post">
                    <label for="nombre">Nombre:</label>
                    <input required type="text" class="form-control" placeholder="Nombre" name="name" id="name">
                    <label for="status">Estatus:</label>
                    <input required type="number" class="form-control" placeholder="Estatus" name="status" id="status">
                    <label for="telefono">Movil:</label>
                    <input required type="text" class="form-control" placeholder="movil" name="mobile" id="mobile">
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{{url_for('customers')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}