{% extends "layout.html" %}
{% block titulo %} Facturas {% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Facturas</h3>
                <a href="{{url_for('form_add_invoice')}}" class="btn btn-primary">Agregar</a>
                   <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Precio</th>
                            <th>Balance</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td>{{invoice[0]}}</td>
                            <td>{{invoice[1]}}</td>
                            <td>{{invoice[2]}}</td>
                            <td>{{invoice[3]}}</td>
                            <td>{{invoice[4]}}</td>
                            <td>
                                {# Pasar el id (lo que hay en juego[0] #}
                                <a href="{{url_for('edit_invoice', id=invoice[0])}}"
                                    class="btn btn-success">Editar</a>
                            </td>
                            <td>
                                <form action="{{url_for('delete_invoice')}}" method="POST" onSubmit="return confirm('Está seguro de eliminar esta factura?');">
                                    <input type="hidden" name="id" value="{{invoice[0]}}">
                                    <button class="btn btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}