{% extends "layout.html" %}
{% block titulo %}
Editar Cliente
{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Editar Cliente</h3>
                <form action="{{url_for('update_user')}}" method="post">
                    {# Enviar el id en un campo oculto #}
                    <input type="hidden" name="id" value="{{user[0]}}">
                    <label for="name">Nombre:</label>
                    <input value="{{user[1]}}" required type="text" class="form-control" placeholder="Nombre" name="name"
                        id="nombre">
                    <label for="email">Email</label>
                    <input value="{{user[2]}}" required type="text" class="form-control" placeholder="Email"
                        name="email" id="email">    
                    <label for="telefono">Teléfono</label>
                    <input value="{{user[3]}}" required type="text" class="form-control" placeholder="Teléfono"
                        name="telefono" id="telefono">
                    <label for="passwd">Password</label>
                    <input value="{{user[4]}}" required type="text" class="form-control" placeholder="Password"
                        name="passwd" id="passwd">                    
                    <br>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <a href="{{url_for('users')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}