{% extends 'maestra.html' %}
{% block titulo %}Mi primera página con Flask{% endblock titulo %}

{% block contenido %}
      <h2>{{data.subtitulo}}{{data.usuario}}</h2>
      <br>
{% if data.cantvehiculos > 0 %}
<ul>
        {% for vehiculo in data.vehiculos %}
        <li>{{vehiculo}}</li>
        {% endfor %}
</ul>
{% else %}
<h3>No existen vehiculos para mostrar</h3>
{% endif %}
      <select>
        {% for vehiculo in data.vehiculos %}
        <option value="{{vehiculo}}">{{vehiculo}}</option>
        {% endfor %}
      </select>
<table class="table table-hover table-bordered">
      {% set count = namespace(a=0) %}
      {% for vehiculo in data.vehiculos %}
            <tr><td>{{vehiculo}}</td>
            <td>{{data.referencias[loop.index-1]}}</td></tr>
      {% set count.a = count.a + 1 %}
      {% endfor %}
</table>


{% endblock%}